<div class="container mt-5 mb-3" *appHasRole="['Admin']">
  <div *ngIf="!registerMode" style="text-align: center;">
    <h1>Ești logat ca admin</h1>
    <p class="lead">
      Apasă pe butonul "Înregistrează" pentru a adăuga utilizatori!
    </p>
    <p class="lead">
      Pentru a administra orarul accesează secțiunea "Admin" din bara de
      navigație!
    </p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">
        Înregistrează
      </button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register
          (cancelRegister)="cancelRegisterMode($event)"
        ></app-register>
      </div>
    </div>
  </div>
</div>

<carousel [noPause]="false" [isAnimated]="true">
  <slide animateOnScroll animationName="flip">
    <img
      src="assets/images/facultate1.PNG"
      alt="first slide"
      style="display: block; width: 100%; height: 500px;"
    />
    <div class="carousel-caption d-none d-md-block"></div>
  </slide>
  <slide animateOnScroll animationName="flip">
    <img
      src="assets/images/facultate3.jpg"
      alt="second slide"
      style="display: block; width: 100%; height: 500px;"
    />
    <div class="carousel-caption d-none d-md-block"></div>
  </slide>
  <slide animateOnScroll animationName="flip">
    <img
      src="assets/images/education.jpg"
      alt="third slide"
      style="display: block; width: 100%; height: 500px;"
    />
    <div class="carousel-caption d-none d-md-block"></div>
  </slide>
  <slide>
    <img
      src="assets/images/programming.jpg"
      alt="third slide"
      style="display: block; width: 100%; height: 500px;"
    />
    <div class="carousel-caption d-none d-md-block"></div>
  </slide>
  <slide>
    <img
      src="assets/images/hardware.jpg"
      alt="third slide"
      style="display: block; width: 100%; height: 500px;"
    />
    <div class="carousel-caption d-none d-md-block"></div>
  </slide>
</carousel>

<!-- <div class="row" style="margin-top: 100px;">
  <div class="column">
    <img
      src="../../assets/images/sunset1.jpg"
      alt="Snow"
      style="width: 100%; height: 400px;"
      class="hide-on-init"
      animateOnScroll
      animationName="animated slideInLeft"
    />
  </div>

  <div class="column">
    <img
      src="../../assets/images/sunset2.jpg"
      alt="Forest"
      style="width: 100%; height: 400px;"
      class="hide-on-init"
      animateOnScroll
      animationName="animated slideInRight"
    />
  </div>
</div> 

 <div class="row">
  <div class="column">
    <img
      src="../../assets/images/sunset3.jpg"
      alt="Snow"
      style="width: 100%; height: 400px;"
      class="hide-on-init"
      animateOnScroll
      animationName="animated slideInLeft"
    />
  </div>

  <div class="column">
    <img
      src="../../assets/images/sunset4.jpg"
      alt="Forest"
      style="width: 100%; height: 400px;"
      class="hide-on-init"
      animateOnScroll
      animationName="animated slideInRight"
    />
  </div>
</div> -->

<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Despre această aplicație</h6>
        <p class="text-justify">
          UCV Social este o aplicație web destinată studenților Facultății de
          Automatică, Calculatoare și Electronică pentru a crea o comunitate mai
          unită. Pentru comunicarea directă este prezent sistemul de mesagerie,
          iar pentru discuții în grup despre diverse topice este destintă
          secțiunea de postări. Se poate utiliza secțiunea orar pentru a verifica
          activitățile din ziua curentă, sau săptămâna curentă sau luna curentă.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Util pentru studenți</h6>
        <ul class="footer-links">
          <li><a href="http://ace.ucv.ro/">Facultatea de Automaică</a></li>
          <li><a href="http://ace.ucv.ro/media/">Anunțuri ACE</a></li>
          <li>
            <a href="https://www.facebook.com/FacultateaACE">Facebook ACE</a>
          </li>
          <li>
            <a href="http://ace.ucv.ro/admitere/master/"
              >Informații Master ACE</a
            >
          </li>
          <li><a href="https://www.ucv.ro/">Universitatea din Craiova</a></li>
          <li>
            <a href="http://dcti.ucv.ro/">Departamentul de Calculatoare</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Tehnologii folosite pentru această aplicație</h6>
        <ul class="footer-links">
          <li><a href="https://angular.io/">Angular</a></li>
          <li>
            <a
              href="https://docs.microsoft.com/en-us/aspnet/core/introduction-to-aspnet-core?view=aspnetcore-3.1"
              >ASP.Net Core</a
            >
          </li>
          <li>
            <a href="https://docs.microsoft.com/en-us/ef/core/"
              >Entity Framework Core</a
            >
          </li>
          <li><a href="https://jwt.io/">JWT</a></li>
          <li><a href="https://cloudinary.com/">Cloudinary</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2020 All Rights Reserved by
          <a href="#">Crușoveanu Bogdan</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a
              class="facebook"
              href="https://www.facebook.com/bogdan.crusoveanu"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
