<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>Profilul tău</h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
          <strong>Atenție:</strong> Ai făcut schimbări care nu au fost
          salvate și vor fi pierdute!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{ photoUrl || '../../assets/user.png'}}"
          alt="{{ user.userName }}"
        />
        <div class="card-body">
          <!-- <div>
            <strong>Location:</strong>
            <p>{{ user.city }} , {{ user.country }}</p>
          </div> -->
          <div>
            <strong>Vârstă:</strong>
            <p>{{ user.age }}</p>
          </div>
          <div>
            <strong>Ultima dată activ:</strong>
            <p>{{ user.lastActive.toString() | timeAgo }}</p>
          </div>
          <div>
            <strong>Membru de pe:</strong>
            <p>{{ user.created | date: 'mediumDate' }}</p>
          </div>
        </div>
        <div class="card-footer">
          <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Salvare Schimbări</button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Administrare Profil">
            <form #editForm="ngForm" id="editForm" (ngSubmit)= "updateUser()">
               <h4>Descriere</h4>
              <textarea
                name="introduction"
                rows="6"
                class="form-control"
              ></textarea>
              <!-- <h4>Looking For</h4>
              <textarea
                name="lookingForText"
                rows="6"
                class="form-control"
                [(ngModel)]="user.lookingForText"
              ></textarea> -->
              <h4>Interese</h4>
              <textarea
                name="interests"
                rows="6"
                class="form-control"
              ></textarea>
              <!-- <h4>Location Details</h4>
              <div class="form-inline">
                <label for="city">City</label>
                <input
                  class="form-control"
                  type="text"
                  name="city"
                  [(ngModel)]="user.city"
                />
                <label for="country">Country</label>
                <input
                  class="form-control"
                  type="text"
                  name="country"
                  [(ngModel)]="user.country"
                />
              </div>  -->
            </form>
          </tab>
          <tab heading="Administrare fotografii">
            <app-photo-editor [photos]="user.photos" 
              (getMemberPhotoChange)="updateMainPhoto($event)"></app-photo-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
