<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Înregistrare</h2>
  <hr />

  <div class="form-group">
    <label class="control-label" style="margin-right: 10px;">Tip utilizator: </label>
    <label class="radio-inline">
      <input
        class="mr-3"
        type="radio"
        value="Student"
        formControlName="role"
        (click)="createRegisterForm('Student')"
      />Student
    </label>
    <label class="radio-inline ml-3">
      <input
        class="mr-3"
        type="radio"
        value="Profesor"
        formControlName="role"
        (click)="createRegisterForm('Profesor')"
      />Profesor
    </label>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('firstName').errors &&
          registerForm.get('firstName').touched
      }"
      type="text"
      class="form-control"
      formControlName="firstName"
      placeholder="Nume"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('firstName').touched &&
        registerForm.get('firstName').hasError('required')
      "
    >
      Prenumele este obligatoriu
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('lastName').errors &&
          registerForm.get('lastName').touched
      }"
      type="text"
      class="form-control"
      formControlName="lastName"
      placeholder="Nume"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('lastName').touched &&
        registerForm.get('lastName').hasError('required')
      "
    >
      Numele este obligatoriu
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('dateOfBirth').errors &&
          registerForm.get('dateOfBirth').touched
      }"
      class="form-control"
      placeholder="Data nașterii"
      formControlName="dateOfBirth"
      type="text"
      bsDatepicker
      [bsConfig]="bsConfig"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('dateOfBirth').touched &&
        registerForm.get('dateOfBirth').hasError('required')
      "
    >
      Data nașterii este obligatorie
    </div>
  </div>

  <div *ngIf="registerForm.get('role').value === 'Student'">
    <div class="form-group">
      <input
        type="number"
        class="form-control"
        formControlName="year"
        placeholder="Anul de studii"
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        formControlName="specialization"
        placeholder="Specializare"
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        formControlName="group"
        placeholder="Grupă"
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        formControlName="subGroup"
        placeholder="Subgrupă"
      />
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('password').errors &&
          registerForm.get('password').touched
      }"
      type="password"
      class="form-control"
      formControlName="password"
      placeholder="Parolă"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('password').hasError('required') &&
        registerForm.get('password').touched
      "
    >
      Parola este obligatorie
    </div>

    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('password').hasError('minlength') &&
        registerForm.get('password').touched
      "
    >
      Parola trebuie să aibă minim 4 caractere
    </div>

    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('password').hasError('maxlength') &&
        registerForm.get('password').touched
      "
    >
      Parola poate să aibă maxim 16 caractere
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          (registerForm.get('confirmPassword').errors &&
            registerForm.get('confirmPassword').touched) ||
          (registerForm.get('confirmPassword').touched &&
            registerForm.hasError('mismatch'))
      }"
      type="password"
      class="form-control"
      formControlName="confirmPassword"
      placeholder="Confirmă Prola"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('confirmPassword').hasError('required') &&
        registerForm.get('confirmPassword').touched
      "
    >
      Parola este obligatorie
    </div>
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.hasError('mismatch') &&
        registerForm.get('confirmPassword').touched
      "
    >
      Parolele nu sunt identice
    </div>
  </div>

  <div class="form-group text-center">
    <button
      class="btn btn-success mr-2"
      type="submit"
      [disabled]="!registerForm.valid"
    >
      Înregistrare
    </button>
    <button class="btn btn-default" type="button" (click)="cancel()">
      Renunță
    </button>
  </div>
</form>
