<div class="search-user mt-2 mb-2">
  <input
    style="border: 1px solid #ced4da !important; border-radius: 5px !important;"
    class="form-control"
    type="text"
    name="search"
    [(ngModel)]="searchText"
    autocomplete="off"
    placeholder="&#61442;  Caută o clasa după denumire sau id"
  />
</div>

<button class="btn btn-info mt-2 mb-2" (click)="insertClass()">
  Adaugă sală de curs/laborator
</button>

<div class="row" *appHasRole="['Admin']">
  <table class="table">
    <tr>
      <th style="width: 25%;">ID Sală</th>
      <th style="width: 25%;">Denumire Sală</th>
      <th style="width: 25%;">Ștergere</th>
      <th style="width: 25%;">Modificare</th>
    </tr>
    <tr *ngFor="let class of classes | filter: searchText">
      <td>{{ class.id }}</td>
      <td>{{ class.name }}</td>
      <td>
        <button class="btn btn-info" (click)="deleteClass(class)">
          Șterge Sala
        </button>
      </td>
      <td>
        <button class="btn btn-info" (click)="updateClass(class)">
          Modifică Sala
        </button>
      </td>
    </tr>
  </table>
</div>
