
<div class="modal-header">
  <h4 class="modal-title pull-left" *ngIf="insert">Adaugă numele specializarii</h4>
  <h4 class="modal-title pull-left" *ngIf="!insert">Modifică numele specializarii</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
<form #classesForm="ngForm" id="classesForm" [formGroup]="specializationForm">
  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
        specializationForm.get('name').errors && specializationForm.get('name').touched
      }"
      type="text"
      class="form-control mt-3 mb-3"
      formControlName="name"
      style="
      border: 1px solid #ced4da !important;
      border-radius: 5px !important;
    "
      placeholder="Numele Specializarii"
    />
    <div
      class="invalid-feedback"
      *ngIf="
      specializationForm.get('name').touched &&
      specializationForm.get('name').hasError('required')
      "
    >
      O Specializare trebuie introdusă
      </div>
    </div>
</form>
</div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      form="classesForm"
      (click) = "addSpecialization()"
      [hidden]="!insert"
      [disabled]="!specializationForm.valid"
    >
      Inserare
    </button>
    <button
      type="button"
      class="btn btn-success"
      form="classesForm"
      (click) = "updateSpecialization()"
      [hidden]="insert"
      [disabled]="!specializationForm.valid"
    >
      Modificare
    </button>
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">
      Renunță
    </button>
  </div>




