<div class="modal-header">
  <h4 class="modal-title pull-left" *ngIf="insert">Adauga numele Cursului</h4>
  <h4 class="modal-title pull-left" *ngIf="!insert">
    Modifica numele Cursului
  </h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form #classesForm="ngForm" id="classesForm" [formGroup]="courseForm">
    <div class="form-group">
      <input
        [ngClass]="{
          'is-invalid':
            courseForm.get('name').errors && courseForm.get('name').touched
        }"
        type="text"
        class="form-control mt-3 mb-3"
        formControlName="name"
        placeholder="Denumire Curs"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          courseForm.get('name').touched &&
          courseForm.get('name').hasError('required')
        "
      >
        Cursul trebuie sa aiba o denumire
      </div>

      <input
        matInput
        placeholder="Alege o specializare"
        aria-label="Specializari"
        [matAutocomplete]="autoSpecialization"
        formControlName="specializationName"
        [(ngModel)]="searchSpecialization"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #autoSpecialization="matAutocomplete"
        (optionSelected)="onSelectionChangedSpecialization($event)"
      >
        <mat-option
          *ngFor="
            let specialization of specializations | filter: searchSpecialization
          "
          [value]="specialization.name"
          [id]="specialization.id"
        >
          <span>{{ specialization.name }}</span>
        </mat-option>
      </mat-autocomplete>

      <input
        matInput
        placeholder="Alege un profesor"
        aria-label="Profesori"
        [matAutocomplete]="autoTeachers"
        formControlName="teacherName"
        [(ngModel)]="searchTeacher"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #autoTeachers="matAutocomplete"
        (optionSelected)="onSelectionChangedTeacher($event)"
      >
        <mat-option
          *ngFor="let teacher of teachers | filter: searchTeacher"
          [value]="getTeacherFullName(teacher.firstName, teacher.lastName)"
          [id]="teacher.id"
        >
          <span>{{getTeacherFullName(teacher.firstName, teacher.lastName)}}</span>
        </mat-option>
      </mat-autocomplete>

      <input
        matInput
        placeholder="Alege o sala de curs"
        aria-label="Sala de curs"
        [matAutocomplete]="autoClasses"
        formControlName="className"
        [(ngModel)]="searchClass"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #autoClasses="matAutocomplete"
        (optionSelected)="onSelectionChangedClass($event)"
      >
        <mat-option
          *ngFor="let class of classes | filter: searchClass"
          [value]="class.name"
          [id]="class.id"
        >
          <span>{{ class.name }}</span>
        </mat-option>
      </mat-autocomplete>

      <input
        [ngClass]="{
          'is-invalid':
            courseForm.get('startDate').errors &&
            courseForm.get('startDate').touched
        }"
        class="form-control"
        type="text"
        mwlFlatpickr
        (ngModelChange)="refresh.next()"
        formControlName="startDate"
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        placeholder="Ora la care se termina cursul"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          courseForm.get('startDate').touched &&
          courseForm.get('startDate').hasError('required')
        "
      >
        Introduce ora la care incepe cursul
      </div>

      <input
        [ngClass]="{
          'is-invalid':
            courseForm.get('endDate').errors &&
            courseForm.get('endDate').touched
        }"
        class="form-control"
        type="text"
        mwlFlatpickr
        (ngModelChange)="refresh.next()"
        formControlName="endDate"
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        placeholder="Ora la care se termina cursul"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          courseForm.get('endDate').touched &&
          courseForm.get('endDate').hasError('required')
        "
      >
        Introduce ora la care incepe cursul
      </div>

      <input
        [ngClass]="{
          'is-invalid':
            courseForm.get('semesterId').errors &&
            courseForm.get('semesterId').touched
        }"
        type="text"
        class="form-control mt-3 mb-3"
        formControlName="semesterId"
        placeholder="Numar Semestru: 1 sau 2"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          courseForm.get('semesterId').touched &&
          courseForm.get('semesterId').hasError('required')
        "
      >
        Un Semestru trebuie ales(1 sau 2);
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="container h-100">
    <div class="d-flex h-100">
      <div class="align-self-center mx-auto">
        <button
          type="button"
          class="btn btn-success"
          form="classesForm"
          (click)="addCourse()"
          [hidden]="!insert"
          [disabled]="!courseForm.valid"
        >
          Insert
        </button>

        <button
          type="button"
          class="btn btn-success"
          form="classesForm"
          (click)="updateCourse()"
          [hidden]="insert"
          [disabled]="!courseForm.valid"
        >
          Update
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="bsModalRef.hide()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
