<div class="card">
  <div class="card-body">
    <div *ngIf="messages?.length === 0">
      <p>Nici un mesaj încă... spune hei și vezi ce se întâmplă :P.</p>
    </div>

    <ul class="chat">
      <li *ngFor="let message of messages">
        <!--to them -->
        <div *ngIf="message.senderId == recipientId">
          <span class="chat-img float-left">
            <img
              src="{{ message.senderPhotoUrl || '../../../../../assets/user.png' }}"
              alt="{{ message.senderUserName }}"
              class="rounded-circle"
            />
          </span>
          <div class="chat-body">
            <div class="header">
              <strong class="primary-font">{{ message.senderUserName }}</strong>
              <small class="text-muted float-right">
                <span class="fa fa-clock-o">{{
                  message.messageSent | timeAgo
                }}</span>
              </small>
            </div>
            <p>{{ message.content }}</p>
          </div>
        </div>

        <!--to me -->
        <div *ngIf="message.senderId != recipientId">
          <span class="chat-img float-right">
            <img
              src="{{ message.senderPhotoUrl || '../../../../../assets/user.png' }}"
              alt="{{ message.senderUserName }}"
              class="rounded-circle"
            />
          </span>
          <div class="chat-body">
            <div class="header">
              <small class="text-muted">
                <span class="fa fa-clock-o">{{
                  message.messageSent | timeAgo
                }}</span>
                <span *ngIf="!message.isRead" class="text-danger"
                  >(unread)</span
                >
                <span *ngIf="message.isRead" class="text-success"
                  >(Read {{ message.dateRead | timeAgo }})</span
                >
              </small>
              <strong class="primary-font float-right">{{
                message.senderUserName
              }}</strong>
            </div>
            <p>{{ message.content }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
      <div class="input-group">
        <input
          type="text"
          [(ngModel)]="newMessage.content"
          name="content"
          required
          class="form-control input-sm"
          placeholder="trimite un mesaj"
        />
        <div class="input-group-appdend">
          <button class="btn btn-primary ml-2" [disabled] = "!messageForm.valid">
            Trimite
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
