<div class="search-user mt-2 mb-2">
  <input
    class="form-control"
    type="text"
    name="search"
    [(ngModel)]="searchText"
    autocomplete="off"
    style="border: 1px solid #ced4da !important; border-radius: 5px !important;"
    placeholder="&#61442;  Cauta curs dupa denumire, Profesor sau sala de curs"
  />
</div>

<button
  class="btn btn-info mt-2 mb-2"
  (click)="insertCourses(classes, specializations, teachers)"
>
  Adăugare Curs
</button>

<div class="row" *appHasRole="['Admin']">
  <table class="table">
    <tr>
      <th style="width: 18%;">Denumire Curs</th>
      <th style="width: 18%;">Profesor</th>
      <th style="width: 18%;">Denumire Specializare</th>
      <th style="width: 10%;">Sală de curs</th>
      <th style="width: 19%;">Ștergere</th>
      <th style="width: 27%;">Modificre</th>
    </tr>
    <tr *ngFor="let course of courses | filter: searchText">
      <td>{{ course.name }}</td>
      <td>{{ course.teacherName }}</td>
      <td>{{ course.specializationName }}</td>
      <td>{{ course.className }}</td>
      <td>
        <button class="btn btn-info" (click)="deleteCourse(course)">
          Șterge Curs
        </button>
      </td>
      <td>
        <button
          class="btn btn-info"
          (click)="updateCourse(course, classes, specializations, teachers)"
        >
          Modifică Curs
        </button>
      </td>
    </tr>
  </table>
</div>
