<div class="container mt-4">
  <div class="row">
    <h1>{{ user.firstName }} {{user.lastName}}</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{ user.photoUrl || '../../../assets/user.png'}}"
          alt="{{ user.userName }}"
        />
        <div class="card-body">
          <!-- <div>
            <strong>Location:</strong>
            <p>{{ user.city }} , {{ user.country }}</p>
          </div> -->
          <div>
            <strong>Vârstă:</strong>
            <p>{{ user.age }}</p>
          </div>
          <div>
            <strong>Ultima dată activ:</strong>
            <p>{{ user.lastActive.toString() | timeAgo }}</p>
          </div>
          <div>
            <strong>Menbru de pe:</strong>
            <p>{{ user.created | date: 'mediumDate' }}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="brn-group d-flex">
            <button class="btn btn-primary w-100" (click)="sendLike(user.id)">Adaugă</button>
            <button class="btn btn-danger w-100" (click)="selectTab(1)">Mesaj</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset" #memberTabs>
          <tab heading="Photos">
            <ngx-gallery
              [options]="galleryOptions"
              [images]="galleryImages"
              class="ngx-gallery"
            ></ngx-gallery>
          </tab>
          <tab heading="Messages">
            <app-member-messages [recipientId] = "user.id"></app-member-messages>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
